<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ประยุทธ จันโอชา</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="https://s359.kapook.com/r/600/auto/pagebuilder/9c1eb190-0149-4e6e-a246-54b4aa427789.jpg" alt="">  
้<center>
  <h3>ประยุทธ จันโอชา</h3> 
</center>
 <p>
   พลเอก ประยุทธ์ จันทร์โอชา (เกิด 21 มีนาคม 2497) ชื่อเล่น ตู่ เป็นนักการเมืองและนายทหารบกชาวไทย หัวหน้าคณะรักษาความสงบแห่งชาติ (คสช.) ซึ่งก่อรัฐประหารในประเทศไทย พ.ศ. 2557 และเป็นคณะรัฐประหารที่ปกครองประเทศไทยในปี 2557 ถึง 2562 เป็นนายกรัฐมนตรีไทยคนที่ 29 และรัฐมนตรีว่าการกระทรวงกลาโหมคนปัจจุบัน
</p>
</ion-content>
